* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.separador {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 200px;
}
.separador .divider {
  width: 502px;
  height: 130px;
}

footer {
  background: #22814d;
  height: 100px;
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .contacto {
  color: #f0f0f0;
  font-weight: 600;
}
footer .copyright {
  color: #f0f0f0;
}

@media screen and (max-width: 570px) {
  .separador {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 140px;
    z-index: 1;
  }
  .separador .divider {
    width: 450px;
    height: 115px;
  }
  footer {
    background: #22814d;
    height: 100px;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer .contacto {
    font-size: 12px;
    color: #f0f0f0;
    font-weight: 600;
  }
  footer .copyright {
    font-size: 12px;
    color: #f0f0f0;
  }
}
@media screen and (max-width: 510px) {
  .separador {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 140px;
    z-index: 1;
  }
  .separador .divider {
    width: 370px;
    height: 90px;
  }
}
@media screen and (max-width: 350px) {
  .separador {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 140px;
    z-index: 1;
  }
  .separador .divider {
    width: 300px;
    height: 80px;
  }
}
@media screen and (max-width: 300px) {
  .separador {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 140px;
    z-index: 1;
  }
  .separador .divider {
    width: 250px;
    height: 65px;
  }
}
header .top {
  background: #22814d;
  height: 45px;
  width: 100%;
}
header .logo_container {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 200px;
}
header .logo_container .logo {
  width: 502px;
  height: 130px;
}
@media screen and (max-width: 510px) {
  header .logo_container {
    display: flex;
    justify-content: center;
    height: 140px;
    z-index: 1;
  }
  header .logo_container .logo {
    width: 370px;
    height: 90px;
  }
}
@media screen and (max-width: 350px) {
  header .logo_container {
    display: flex;
    justify-content: center;
    height: 140px;
    z-index: 1;
  }
  header .logo_container .logo {
    width: 300px;
    height: 80px;
  }
}
@media screen and (max-width: 300px) {
  header .logo_container {
    display: flex;
    justify-content: center;
    height: 140px;
    z-index: 1;
  }
  header .logo_container .logo {
    width: 250px;
    height: 65px;
  }
}

.main_producto {
  padding: 40px;
  background-image: url(FondoVerde.png);
  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: 80px 200px;
  grid-template-areas: "imagen titulo" "imagen informacion";
  justify-content: center;
}
.main_producto .imagen_container {
  grid-area: imagen;
}
.main_producto .imagen_container #producto_imagen {
  border-radius: 20px;
  width: 270px;
}
.main_producto .titulo_container {
  grid-area: titulo;
  display: flex;
  justify-content: center;
  align-self: center;
  color: #f0f0f0;
  margin-top: 20px;
}
.main_producto .titulo_container .titulo_producto {
  font-size: 28px;
  font-weight: 800;
}
.main_producto .informacion_container {
  grid-area: informacion;
  font-size: 25px;
  display: grid;
  font-weight: 550;
  align-items: center;
  color: #f0f0f0;
}
.main_producto .animate__animated.animate__fadeInLeftBig {
  --animate-duration: 1.5s;
}

@media screen and (max-width: 780px) {
  .main_producto .titulo_container .titulo_producto {
    font-size: 19px;
    font-weight: 800;
  }
  .main_producto .informacion_container {
    font-size: 18px;
  }
}
@media screen and (max-width: 650px) {
  .main_producto {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 80px 110px;
    grid-template-areas: "imagen" "titulo" "informacion";
  }
  .main_producto .imagen_container {
    grid-area: imagen;
    justify-self: center;
  }
  .main_producto .imagen_container #producto_imagen {
    border-radius: 20px;
    width: 140px;
  }
  .main_producto .titulo_container {
    grid-area: titulo;
    display: flex;
    justify-content: center;
  }
  .main_producto .titulo_container .titulo_producto {
    font-size: 20px;
    font-weight: 800;
  }
  .main_producto .informacion_container {
    grid-area: informacion;
    font-size: 18px;
    display: grid;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 370px) {
  .main_producto .informacion_container {
    font-size: 17px;
  }
}
@media screen and (max-width: 305px) {
  .main_producto .titulo_container .titulo_producto {
    font-size: 18px;
  }
  .main_producto .informacion_container {
    font-size: 18px;
  }
}
@media screen and (max-width: 280px) {
  .main_producto .titulo_container .titulo_producto {
    font-size: 17px;
  }
  .main_producto .informacion_container {
    font-size: 18px;
  }
}
.titulo_listado {
  text-align: center;
  padding-bottom: 40px;
  font-weight: 600;
  color: #22814d;
  font-size: 30px;
}

.listado_container {
  justify-content: center;
  gap: 40px;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 400px 400px;
  grid-template-areas: "principal principal";
}
.listado_container .farma {
  border: 2px solid #427cb3;
  justify-content: center;
  border-radius: 10px;
  background-color: rgba(66, 124, 179, 0.1294117647);
  box-shadow: 10px 10px rgba(66, 124, 179, 0.2745098039);
}
.listado_container .farma .nombre_farmacias {
  font-weight: 700;
  font-size: 23px;
  color: #2b5074;
}
.listado_container .farma .card-line {
  border-top: 2px solid #427cb3;
  margin: 15px;
}
.listado_container .farma .farmacias_domicilio {
  font-size: 20px;
  font-weight: 500;
  color: #2b5074;
  margin: 10px;
}
.listado_container .farma .farmacias_envio {
  font-size: 19px;
  font-weight: 600;
  color: #22814d;
  margin: 10px;
}
.listado_container .farma .farmacias_numero {
  color: #427cb3;
  font-size: 20px;
  margin: 10px;
  font-weight: 600;
}
.listado_container .farma #logos {
  width: 18px;
}
.listado_container .principal {
  width: 100%;
  height: 200px;
  grid-area: principal;
}
.listado_container .text-center {
  margin: 15px;
  text-align: center;
  justify-content: center;
}

.primero {
  height: 220px;
}

.segundo {
  height: 210px;
}

.show {
  display: block;
}

@media screen and (max-width: 900px) {
  .listado_container {
    justify-content: center;
    gap: 40px;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 350px 350px;
    grid-template-areas: "principal principal";
  }
  .listado_container .principal {
    width: 100% !important;
    grid-area: principal;
    height: 200px !important;
  }
  .listado_container .farma {
    width: 350px;
  }
  .listado_container .primero {
    height: 240px;
  }
}
@media screen and (max-width: 770px) {
  .listado_container {
    justify-content: center;
    gap: 40px;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 300px 300px;
    grid-template-areas: "principal principal";
  }
  .listado_container .principal {
    width: 100% !important;
    grid-area: principal;
    height: 200px !important;
  }
  .listado_container .farma {
    width: 300px;
  }
  .listado_container .farma .farmacias_numero {
    font-size: 18px;
  }
  .listado_container .farma #logos {
    width: 17wqspx;
  }
  .listado_container .primero {
    height: 260px;
  }
  .listado_container .segundo {
    height: 220px;
  }
}
@media screen and (max-width: 670px) {
  .listado_container {
    display: grid;
    grid-template-columns: 250px 250px;
  }
  .listado_container .primero {
    height: 280px;
    width: 100%;
  }
  .listado_container .segundo {
    height: 200px;
    width: 100%;
  }
  .listado_container .principal {
    width: 100% !important;
    height: 200px;
    grid-area: principal;
  }
  .listado_container .farma .farmacias_numero {
    font-size: 15px;
  }
  .listado_container .farma .nombre_farmacias {
    font-weight: 700;
    font-size: 22px;
    color: #2b5074;
  }
  .listado_container .farma #logos {
    width: 16px;
  }
}
@media screen and (max-width: 650px) {
  .titulo_listado {
    font-size: 28px;
  }
  .listado_container {
    display: grid;
    grid-template-columns: 500px;
    grid-template-areas: "principal";
  }
  .listado_container .principal {
    grid-area: principal;
    border: 5px solid #22814d;
    background-color: rgba(34, 129, 77, 0.1647058824);
  }
  .listado_container .primero {
    height: 210px;
  }
  .listado_container .segundo {
    height: 180px;
  }
  .listado_container .primer {
    border-top: 5px solid #22814d !important;
  }
  .listado_container .audifarm {
    color: #22814d !important;
  }
  .listado_container .farma .farmacias_numero {
    font-size: 18px;
  }
  .listado_container .farma #logos {
    width: 18px;
  }
}
@media screen and (max-width: 565px) {
  .titulo_listado {
    font-size: 25px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 540px) {
  .listado_container {
    display: grid;
    grid-template-columns: 400px;
    grid-template-areas: "principal";
  }
  .listado_container .principal {
    grid-area: principal;
    height: 210px !important;
  }
  .listado_container .primero {
    height: 220px;
  }
  .listado_container .segundo {
    height: 200px;
  }
}
@media screen and (max-width: 510px) {
  .titulo_listado {
    font-size: 26px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 450px) {
  .listado_container {
    display: grid;
    grid-template-columns: 300px;
    grid-template-areas: "principal";
  }
  .listado_container .principal {
    grid-area: principal;
    height: 220px !important;
  }
  .listado_container .primero {
    height: 260px;
  }
  .listado_container .segundo {
    height: 200px;
  }
}
@media screen and (max-width: 350px) {
  .titulo_listado {
    font-size: 24px;
    padding-bottom: 20px;
  }
  .listado_container {
    display: grid;
    grid-template-columns: 250px;
    grid-template-areas: "principal";
  }
  .listado_container .principal {
    grid-area: principal;
    height: 230px !important;
  }
  .listado_container .primero {
    height: 240px;
  }
  .listado_container .segundo {
    height: 180px;
  }
  .listado_container .farma .nombre_farmacias {
    font-size: 18px;
  }
  .listado_container .farma .farmacias_domicilio {
    font-size: 17px;
  }
  .listado_container .farma .farmacias_envio {
    font-size: 15px;
  }
  .listado_container .farma .farmacias_numero {
    font-size: 15px;
  }
  .listado_container .farma #logos {
    width: 16px;
  }
}
@media screen and (max-width: 305px) {
  .titulo_listado {
    font-size: 22px;
    padding-bottom: 20px;
  }
  .listado_container {
    display: grid;
    grid-template-columns: 250px;
    grid-template-areas: "principal";
  }
  .listado_container .principal {
    grid-area: principal;
    height: 220px !important;
  }
  .listado_container .primero {
    height: 230px;
  }
  .listado_container .farma .nombre_farmacias {
    font-size: 18px;
  }
  .listado_container .farma .farmacias_domicilio {
    font-size: 17px;
  }
  .listado_container .farma .farmacias_envio {
    font-size: 15px;
  }
  .listado_container .farma #logos {
    width: 15px;
  }
}
@media screen and (max-width: 280px) {
  .titulo_listado {
    font-size: 21px;
    padding-bottom: 20px;
  }
  .listado_container {
    display: grid;
    grid-template-columns: 230px;
    grid-template-areas: "principal";
  }
  .listado_container .principal {
    grid-area: principal;
    height: 230px !important;
  }
  .listado_container .primero {
    height: 240px;
  }
  .listado_container .farma .farmacias_numero {
    font-size: 13px;
  }
  .listado_container .farma #logos {
    width: 14px;
  }
}
#myBtnContainer {
  display: flex;
  justify-content: center;
  padding: 30px;
}
#myBtnContainer .btn {
  width: 170px;
  height: 60px;
  font-size: 22px;
  font-weight: 600;
  margin: 15px;
  color: #22814d;
  background: #f0f0f0;
  border-radius: 10px;
  border: none;
  outline: none;
}
#myBtnContainer .active {
  background: #22814d;
  color: #f0f0f0;
}
@media screen and (max-width: 670px) {
  #myBtnContainer .btn {
    font-size: 20px;
  }
}
@media screen and (max-width: 590px) {
  #myBtnContainer .btn {
    font-size: 18px;
  }
}
@media screen and (max-width: 470px) {
  #myBtnContainer .btn {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  #myBtnContainer .btn {
    font-size: 14px;
    margin: 6px;
    height: 55px;
  }
}
@media screen and (max-width: 300px) {
  #myBtnContainer .btn {
    font-size: 12px;
  }
}/*# sourceMappingURL=scss.css.map */