.titulo_listado {
  text-align: center;
  padding-bottom: 40px;
  font-weight: 600;
  color: #22814d;
  font-size: 30px;
}

.listado_container {
  justify-content: center;
  gap: 40px;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 400px 400px;
  grid-template-areas: "principal principal";
}
.listado_container .farma {
  border: 2px solid #427cb3;
  justify-content: center;
  border-radius: 10px;
  background-color: rgba(66, 124, 179, 0.1294117647);
  box-shadow: 10px 10px rgba(66, 124, 179, 0.2745098039);
}
.listado_container .farma .nombre_farmacias {
  font-weight: 700;
  font-size: 23px;
  color: #2b5074;
}
.listado_container .farma .card-line {
  border-top: 2px solid #427cb3;
  margin: 15px;
}
.listado_container .farma .farmacias_domicilio {
  font-size: 20px;
  font-weight: 500;
  color: #2b5074;
  margin: 10px;
}
.listado_container .farma .farmacias_envio {
  font-size: 19px;
  font-weight: 600;
  color: #22814d;
  margin: 10px;
}
.listado_container .farma .farmacias_numero {
  color: #427cb3;
  font-size: 20px;
  margin: 10px;
  font-weight: 600;
}
.listado_container .farma #logos {
  width: 18px;
}
.listado_container .principal {
  width: 100%;
  height: 200px;
  grid-area: principal;
}
.listado_container .text-center {
  margin: 15px;
  text-align: center;
  justify-content: center;
}

.primero {
  height: 220px;
}

.segundo {
  height: 210px;
}

.show {
  display: block;
}

@media screen and (max-width: 900px) {
  .listado_container {
    justify-content: center;
    gap: 40px;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 350px 350px;
    grid-template-areas: "principal principal";
  }
  .listado_container .principal {
    width: 100% !important;
    grid-area: principal;
    height: 200px !important;
  }
  .listado_container .farma {
    width: 350px;
  }
  .listado_container .primero {
    height: 240px;
  }
}
@media screen and (max-width: 770px) {
  .listado_container {
    justify-content: center;
    gap: 40px;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 300px 300px;
    grid-template-areas: "principal principal";
  }
  .listado_container .principal {
    width: 100% !important;
    grid-area: principal;
    height: 200px !important;
  }
  .listado_container .farma {
    width: 300px;
  }
  .listado_container .farma .farmacias_numero {
    font-size: 18px;
  }
  .listado_container .farma #logos {
    width: 17wqspx;
  }
  .listado_container .primero {
    height: 260px;
  }
  .listado_container .segundo {
    height: 220px;
  }
}
@media screen and (max-width: 670px) {
  .listado_container {
    display: grid;
    grid-template-columns: 250px 250px;
  }
  .listado_container .primero {
    height: 280px;
    width: 100%;
  }
  .listado_container .segundo {
    height: 200px;
    width: 100%;
  }
  .listado_container .principal {
    width: 100% !important;
    height: 200px;
    grid-area: principal;
  }
  .listado_container .farma .farmacias_numero {
    font-size: 15px;
  }
  .listado_container .farma .nombre_farmacias {
    font-weight: 700;
    font-size: 22px;
    color: #2b5074;
  }
  .listado_container .farma #logos {
    width: 16px;
  }
}
@media screen and (max-width: 650px) {
  .titulo_listado {
    font-size: 28px;
  }
  .listado_container {
    display: grid;
    grid-template-columns: 500px;
    grid-template-areas: "principal";
  }
  .listado_container .principal {
    grid-area: principal;
    border: 5px solid #22814d;
    background-color: rgba(34, 129, 77, 0.1647058824);
  }
  .listado_container .primero {
    height: 210px;
  }
  .listado_container .segundo {
    height: 180px;
  }
  .listado_container .primer {
    border-top: 5px solid #22814d !important;
  }
  .listado_container .audifarm {
    color: #22814d !important;
  }
  .listado_container .farma .farmacias_numero {
    font-size: 18px;
  }
  .listado_container .farma #logos {
    width: 18px;
  }
}
@media screen and (max-width: 565px) {
  .titulo_listado {
    font-size: 25px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 540px) {
  .listado_container {
    display: grid;
    grid-template-columns: 400px;
    grid-template-areas: "principal";
  }
  .listado_container .principal {
    grid-area: principal;
    height: 210px !important;
  }
  .listado_container .primero {
    height: 220px;
  }
  .listado_container .segundo {
    height: 200px;
  }
}
@media screen and (max-width: 510px) {
  .titulo_listado {
    font-size: 26px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 450px) {
  .listado_container {
    display: grid;
    grid-template-columns: 300px;
    grid-template-areas: "principal";
  }
  .listado_container .principal {
    grid-area: principal;
    height: 220px !important;
  }
  .listado_container .primero {
    height: 260px;
  }
  .listado_container .segundo {
    height: 200px;
  }
}
@media screen and (max-width: 350px) {
  .titulo_listado {
    font-size: 24px;
    padding-bottom: 20px;
  }
  .listado_container {
    display: grid;
    grid-template-columns: 250px;
    grid-template-areas: "principal";
  }
  .listado_container .principal {
    grid-area: principal;
    height: 230px !important;
  }
  .listado_container .primero {
    height: 240px;
  }
  .listado_container .segundo {
    height: 180px;
  }
  .listado_container .farma .nombre_farmacias {
    font-size: 18px;
  }
  .listado_container .farma .farmacias_domicilio {
    font-size: 17px;
  }
  .listado_container .farma .farmacias_envio {
    font-size: 15px;
  }
  .listado_container .farma .farmacias_numero {
    font-size: 15px;
  }
  .listado_container .farma #logos {
    width: 16px;
  }
}
@media screen and (max-width: 305px) {
  .titulo_listado {
    font-size: 22px;
    padding-bottom: 20px;
  }
  .listado_container {
    display: grid;
    grid-template-columns: 250px;
    grid-template-areas: "principal";
  }
  .listado_container .principal {
    grid-area: principal;
    height: 220px !important;
  }
  .listado_container .primero {
    height: 230px;
  }
  .listado_container .farma .nombre_farmacias {
    font-size: 18px;
  }
  .listado_container .farma .farmacias_domicilio {
    font-size: 17px;
  }
  .listado_container .farma .farmacias_envio {
    font-size: 15px;
  }
  .listado_container .farma #logos {
    width: 15px;
  }
}
@media screen and (max-width: 280px) {
  .titulo_listado {
    font-size: 21px;
    padding-bottom: 20px;
  }
  .listado_container {
    display: grid;
    grid-template-columns: 230px;
    grid-template-areas: "principal";
  }
  .listado_container .principal {
    grid-area: principal;
    height: 230px !important;
  }
  .listado_container .primero {
    height: 240px;
  }
  .listado_container .farma .farmacias_numero {
    font-size: 13px;
  }
  .listado_container .farma #logos {
    width: 14px;
  }
}/*# sourceMappingURL=farmacias.css.map */