
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
  

.separador {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 200px;
  
    .divider {
      width: 502px;
      height: 130px;
    }
}
    

footer{
  .top {
    background: #22814d;
    height: 45px;
    width: 100%;
    margin-top: 40px;
  }
}

@media screen and (max-width: 570px) {
  .separador {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 140px;
    z-index: 1;
    
      .divider {
        width: 450px;
        height: 115px;
      }
  }
}


@media screen and (max-width: 510px) {
  .separador {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 140px;
    z-index: 1;
    
      .divider {
        width: 370px;
        height: 90px;
      }
  }
}

@media screen and (max-width: 350px) {
  .separador {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 140px;
    z-index: 1;
    
      .divider {
        width: 300px;
        height: 80px;
      }
  }
}

@media screen and (max-width: 300px) {
  .separador {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 140px;
    z-index: 1;
    
      .divider {
        width: 250px;
        height: 65px;
      }
  }
}